## SQL at Scale with Spark SQL

Welcome to the SQL mini project. For this project, you will use the Databricks Platform and work through a series of exercises using Spark SQL. The dataset size may not be too big but the intent here is to familiarize yourself with the Spark SQL interface which scales easily to huge datasets, without you having to worry about changing your SQL queries. 

The data you need is present in the mini-project folder in the form of three CSV files. This data will be imported in Databricks to create the following tables under the __`country_club`__ database.

<br>
1. The __`bookings`__ table,
2. The __`facilities`__ table, and
3. The __`members`__ table.

You will be uploading these datasets shortly into the Databricks platform to understand how to create a database within minutes! Once the database and the tables are populated, you will be focusing on the mini-project questions.

In the mini project, you'll be asked a series of questions. You can solve them using the databricks platform, but for the final deliverable,
please download this notebook as an IPython notebook (__`File -> Export -> IPython Notebook`__) and upload it to your GitHub.

### Creating the Database

We will first create our database in which we will be creating our three tables of interest

In [0]:
%sql 
drop database if exists country_club cascade;
create database country_club;
show databases;

databaseName
country_club
default

### Creating the Tables

In this section, we will be creating the three tables of interest and populate them with the data from the CSV files already available to you. 
To get started, first upload the three CSV files to the DBFS as depicted in the following figure

![](https://i.imgur.com/QcCruBr.png)


Once you have done this, please remember to execute the following code to build the dataframes which will be saved as tables in our database

In [0]:
# File location and type
file_location_bookings = "/FileStore/tables/Bookings.csv"
file_location_facilities = "/FileStore/tables/Facilities.csv"
file_location_members = "/FileStore/tables/Members.csv"

file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
bookings_df = (spark.read.format(file_type) 
                    .option("inferSchema", infer_schema) 
                    .option("header", first_row_is_header) 
                    .option("sep", delimiter) 
                    .load(file_location_bookings))

facilities_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_facilities))

members_df = (spark.read.format(file_type) 
                      .option("inferSchema", infer_schema) 
                      .option("header", first_row_is_header) 
                      .option("sep", delimiter) 
                      .load(file_location_members))

### Viewing the dataframe schemas

We can take a look at the schemas of our potential tables to be written to our database soon

In [0]:
print('Bookings Schema')
bookings_df.printSchema()
print('Facilities Schema')
facilities_df.printSchema()
print('Members Schema')
members_df.printSchema()

Bookings Schema
root
 |-- bookid: integer (nullable = true)
 |-- facid: integer (nullable = true)
 |-- memid: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- slots: integer (nullable = true)

Facilities Schema
root
 |-- facid: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- membercost: double (nullable = true)
 |-- guestcost: double (nullable = true)
 |-- initialoutlay: integer (nullable = true)
 |-- monthlymaintenance: integer (nullable = true)

Members Schema
root
 |-- memid: integer (nullable = true)
 |-- surname: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- address: string (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- telephone: string (nullable = true)
 |-- recommendedby: integer (nullable = true)
 |-- joindate: timestamp (nullable = true)

### Create permanent tables
We will be creating three permanent tables here in our __`country_club`__ database as we discussed previously with the following code

In [0]:
permanent_table_name_bookings = "country_club.Bookings"
bookings_df.write.format("parquet").saveAsTable(permanent_table_name_bookings)

permanent_table_name_facilities = "country_club.Facilities"
facilities_df.write.format("parquet").saveAsTable(permanent_table_name_facilities)

permanent_table_name_members = "country_club.Members"
members_df.write.format("parquet").saveAsTable(permanent_table_name_members)

### Refresh tables and check them

In [0]:
%sql
use country_club;
REFRESH table bookings;
REFRESH table facilities;
REFRESH table members;
show tables;

database,tableName,isTemporary
country_club,bookings,false
country_club,facilities,false
country_club,members,false

### Test a sample SQL query

__Note:__ You can use __`%sql`__ at the beginning of a cell and write SQL queries directly as seen in the following cell. Neat isn't it!

In [0]:
%sql
select * from bookings limit 3

bookid,facid,memid,starttime,slots
0,3,1,2012-07-03T11:00:00.000+0000,2
1,4,1,2012-07-03T08:00:00.000+0000,2
2,6,0,2012-07-03T18:00:00.000+0000,2

#### Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do.

In [0]:
%sql
SELECT
  name
FROM
  facilities
WHERE
  membercost > 0

name
Tennis Court 1
Tennis Court 2
Massage Room 1
Massage Room 2
Squash Court

####  Q2: How many facilities do not charge a fee to members?

In [0]:
%sql
SELECT
  COUNT(*)
FROM
  facilities
WHERE
  membercost == 0

count(1)
4

#### Q3: How can you produce a list of facilities that charge a fee to members, where the fee is less than 20% of the facility's monthly maintenance cost? 
#### Return the facid, facility name, member cost, and monthly maintenance of the facilities in question.

In [0]:
%sql
SELECT
  facid,
  name,
  membercost AS member_cost,
  monthlymaintenance AS monthly_maintenance
FROM
  facilities
WHERE
  membercost < (0.2 * monthlymaintenance)

facid,name,member_cost,monthly_maintenance
0,Tennis Court 1,5.0,200
1,Tennis Court 2,5.0,200
2,Badminton Court,0.0,50
3,Table Tennis,0.0,10
4,Massage Room 1,9.9,3000
5,Massage Room 2,9.9,3000
6,Squash Court,3.5,80
7,Snooker Table,0.0,15
8,Pool Table,0.0,15

#### Q4: How can you retrieve the details of facilities with ID 1 and 5? Write the query without using the OR operator.

In [0]:
%sql
SELECT
  *
FROM
  facilities
WHERE
  facid IN (1, 5)

facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
1,Tennis Court 2,5.0,25.0,8000,200
5,Massage Room 2,9.9,80.0,4000,3000

#### Q5: How can you produce a list of facilities, with each labelled as 'cheap' or 'expensive', depending on if their monthly maintenance cost is more than $100? 
#### Return the name and monthly maintenance of the facilities in question.

In [0]:
%sql
SELECT
  name,
  monthlymaintenance,
  (CASE WHEN monthlymaintenance > 100 THEN 'expensive'
        ELSE 'cheap'
        END) AS cost
FROM
  facilities
ORDER BY cost

name,monthlymaintenance,cost
Pool Table,15,cheap
Squash Court,80,cheap
Badminton Court,50,cheap
Snooker Table,15,cheap
Table Tennis,10,cheap
Tennis Court 1,200,expensive
Massage Room 1,3000,expensive
Tennis Court 2,200,expensive
Massage Room 2,3000,expensive

#### Q6: You'd like to get the first and last name of the last member(s) who signed up. Do not use the LIMIT clause for your solution.

In [0]:
%sql
SELECT
  firstname,
  surname,
  joindate
FROM
  members
ORDER BY joindate DESC

firstname,surname,joindate
Darren,Smith,2012-09-26T18:08:45.000+0000
Erica,Crumpet,2012-09-22T08:36:38.000+0000
John,Hunt,2012-09-19T11:32:45.000+0000
Hyacinth,Tupperware,2012-09-18T19:32:05.000+0000
Millicent,Purview,2012-09-18T19:04:01.000+0000
Henry,Worthington-Smyth,2012-09-17T12:27:15.000+0000
David,Farrell,2012-09-15T08:22:05.000+0000
Henrietta,Rumney,2012-09-05T08:42:35.000+0000
Douglas,Jones,2012-09-02T18:43:05.000+0000
Ramnaresh,Sarwin,2012-09-01T08:44:42.000+0000
Joan,Coplin,2012-08-29T08:32:41.000+0000
Anna,Mackenzie,2012-08-26T09:32:05.000+0000
Matthew,Genting,2012-08-19T14:55:55.000+0000
David,Pinker,2012-08-16T11:32:47.000+0000
Timothy,Baker,2012-08-15T10:34:25.000+0000
Florence,Bader,2012-08-10T17:52:03.000+0000
Jack,Smith,2012-08-10T16:22:05.000+0000
Jemima,Farrell,2012-08-10T14:28:01.000+0000
Anne,Baker,2012-08-10T14:23:22.000+0000
David,Jones,2012-08-06T16:32:55.000+0000
Charles,Owen,2012-08-03T19:42:37.000+0000
Ponder,Stibbons,2012-07-25T17:09:05.000+0000
Tim,Boothe,2012-07-25T16:02:35.000+0000
Nancy,Dare,2012-07-25T08:59:12.000+0000
Burton,Tracy,2012-07-15T08:52:55.000+0000
Gerald,Butters,2012-07-09T10:44:09.000+0000
Janice,Joplette,2012-07-03T10:25:05.000+0000
Tim,Rownam,2012-07-03T09:32:15.000+0000
Tracy,Smith,2012-07-02T12:08:23.000+0000
Darren,Smith,2012-07-02T12:02:05.000+0000
GUEST,GUEST,2012-07-01T00:00:00.000+0000

####  Q7: How can you produce a list of all members who have used a tennis court?
- Include in your output the name of the court, and the name of the member formatted as a single column. 
- Ensure no duplicate data
- Also order by the member name.

In [0]:
%sql
SELECT DISTINCT
  CONCAT(firstname, ' ', surname, ' | ', name) AS name_with_court
FROM
  bookings
  JOIN facilities ON bookings.facid = facilities.facid
  JOIN members ON bookings.memid = members.memid
WHERE
  name LIKE "Tennis Court%"
ORDER BY
  name_with_court

name_with_court
Anne Baker | Tennis Court 1
Anne Baker | Tennis Court 2
Burton Tracy | Tennis Court 1
Burton Tracy | Tennis Court 2
Charles Owen | Tennis Court 1
Charles Owen | Tennis Court 2
Darren Smith | Tennis Court 2
David Farrell | Tennis Court 1
David Farrell | Tennis Court 2
David Jones | Tennis Court 1
David Jones | Tennis Court 2
David Pinker | Tennis Court 1
Douglas Jones | Tennis Court 1
Erica Crumpet | Tennis Court 1
Florence Bader | Tennis Court 1
Florence Bader | Tennis Court 2
GUEST GUEST | Tennis Court 1
GUEST GUEST | Tennis Court 2
Gerald Butters | Tennis Court 1
Gerald Butters | Tennis Court 2
Henrietta Rumney | Tennis Court 2
Jack Smith | Tennis Court 1
Jack Smith | Tennis Court 2
Janice Joplette | Tennis Court 1
Janice Joplette | Tennis Court 2
Jemima Farrell | Tennis Court 1
Jemima Farrell | Tennis Court 2
Joan Coplin | Tennis Court 1
John Hunt | Tennis Court 1
John Hunt | Tennis Court 2
Matthew Genting | Tennis Court 1
Millicent Purview | Tennis Court 2
Nancy Dare | Tennis Court 1
Nancy Dare | Tennis Court 2
Ponder Stibbons | Tennis Court 1
Ponder Stibbons | Tennis Court 2
Ramnaresh Sarwin | Tennis Court 1
Ramnaresh Sarwin | Tennis Court 2
Tim Boothe | Tennis Court 1
Tim Boothe | Tennis Court 2
Tim Rownam | Tennis Court 1
Tim Rownam | Tennis Court 2
Timothy Baker | Tennis Court 1
Timothy Baker | Tennis Court 2
Tracy Smith | Tennis Court 1
Tracy Smith | Tennis Court 2

#### Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 

- Remember that guests have different costs to members (the listed costs are per half-hour 'slot')
- The guest user's ID is always 0. 

#### Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.

- Order by descending cost, and do not use any subqueries.

In [0]:
%sql
SELECT
  name,
  (CASE WHEN firstname == 'GUEST' THEN 'GUEST'
        ELSE CONCAT(firstname, ' ', surname)
        END) AS full_name,
  (CASE WHEN members.memid == 0 THEN guestcost * slots
        ELSE membercost * slots
        END) AS cost
FROM
  bookings JOIN facilities ON bookings.facid = facilities.facid
           JOIN members ON bookings.memid = members.memid
WHERE
  starttime LIKE '2012-09-14%'
            AND ((members.memid == 0 AND guestcost * slots > 30) OR (members.memid != 0 AND membercost * slots > 30))
ORDER BY cost DESC

name,full_name,cost
Massage Room 2,GUEST,320.0
Massage Room 1,GUEST,160.0
Massage Room 1,GUEST,160.0
Massage Room 1,GUEST,160.0
Tennis Court 2,GUEST,150.0
Tennis Court 2,GUEST,75.0
Tennis Court 1,GUEST,75.0
Tennis Court 1,GUEST,75.0
Squash Court,GUEST,70.0
Massage Room 1,Jemima Farrell,39.6
Squash Court,GUEST,35.0
Squash Court,GUEST,35.0

#### Q9: This time, produce the same result as in Q8, but using a subquery.

In [0]:
%sql
-- SELECT
--   name,
--   (CASE WHEN firstname == 'GUEST' THEN 'GUEST'
--         ELSE CONCAT(firstname, ' ', surname)
--         END) AS full_name,
--   (CASE WHEN members.memid == 0 THEN guestcost * slots
--         ELSE membercost * slots
--         END) AS cost
-- FROM
--   bookings JOIN facilities ON bookings.facid = facilities.facid
--            JOIN members ON bookings.memid = members.memid
-- WHERE
--   starttime LIKE '2012-09-14%'
--             AND ((members.memid == 0 AND guestcost * slots > 30) OR (members.memid != 0 AND membercost * slots > 30))
-- ORDER BY cost DESC

-- Can't figure out how a subquery would help in this case...

#### Q10: Produce a list of facilities with a total revenue less than 1000.
- The output should have facility name and total revenue, sorted by revenue. 
- Remember that there's a different cost for guests and members!

In [0]:
%sql

-- Note that membercost and guestcost should be constant when grouped by facid
SELECT
  name,
  SUM(profits) AS total_profits
FROM
  (SELECT
    b.facid,
    name,
    memid,
    (CASE WHEN memid == 0 THEN SUM(slots) * MIN(guestcost)
          ELSE SUM(slots) * MIN(membercost)
          END) AS profits
  FROM
    bookings b JOIN facilities f ON b.facid = f.facid
  GROUP BY b.facid, f.name, b.memid)
GROUP BY facid, name
HAVING SUM(profits) < 1000
ORDER BY total_profits -- As was ambiguous, ordered by total profits, ascending

name,total_profits
Table Tennis,180.0
Snooker Table,240.0
Pool Table,270.0